<div class="row">
    <div class="container" style="margin-top: 50px;">
    <div style="margin-bottom: 16px;">
        <a class="btn btn-primary" href="/" role="button">Home</a>
        <a class="btn btn-success" href="/add_new_users" role="button">ADD NEW USER</a>
    </div>
    </div>
</div>